<div  class="container_grafica" #ContainerGrafica  #Grafica  [style.width.px]="widthLienzo" [style.height.px]="heightLienzo" [style]="Style" cdkDrag *ngIf="OnlyShow === false">
    <!--  -->
        <div class="container_graph" [style.width.px]="widthLienzo" [style.height.px]="heightLienzo" (mousemove)="getCoordenada(Grafica)"  >
           <apx-chart
            [style.width.px]="widthLienzo" [style.height.px]="heightLienzo"
            [series]="series2"
            [chart]="chartRadialBar" 
            [labels]="labels"
            [plotOptions]="plotOptions"
            [fill] = "fill"
            ></apx-chart>    
        </div>
        <div class="container_menu" >
            <div class="btn_move_graphic" (mousemove)="getCoordenada(Grafica)" >
               
                <div class="transparent2" cdkDragHandle  > 
                    <!-- (mousedown)="definePositionOn()" (mouseup)="definePositionOff()" -->
                    <img class="img_move" src="./assets/UI/moverse.png" >
                </div>
            </div> 
            <div class="btn_resize_horizontal" draggable="false" (mousemove)="getCoordenada(Grafica)">
              
                <div class="transparent" (mousedown)="defineSizeOnY()" (mouseup)="defineSizeOffY()">
                    <img class="img_resize_height" src="./assets/UI/flecha_derecha.png" draggable="false"> </div>
            </div> 
           
        </div>
 
    </div>
    <!-- ************************Solo mostrar una grafica falsa ********************* -->
    <div  class="container_grafica2" #ContainerGrafica  #Grafica  *ngIf="OnlyShow === true" style="display: flex; justify-content: center; align-items: center; width:100%;" [style.height.px]="height">
        <!--  -->
            <div class="container_graph" style="display: flex; justify-content: center; align-items: center; width:100%;" [style.height.px]="height">
               <apx-chart
                [style.width.px]="widthLienzo" [style.height.px]="height"
                [series]="series2"
                [chart]="chartRadialBar" 
                [labels]="labels"
                [plotOptions]="plotOptions"
                [fill] = "fill"
                ></apx-chart>    
            </div>
 
     
        </div>