<nav>
    <div class="container_icono"><label class="label_options"><img class="icono" src="./assets/logo hd.png"></label></div>
    <div class="option"><label class="label_options" (click)="ButtonInicio()">Inicio</label></div>
    <div class="option"><label class="label_options" (click)="ButtonAdd()">Añadir conexion</label></div>
    <div class="option"><label class="label_options" (click)="ButtonTest()">Probar</label></div>
    <div class="option"><label class="label_options" (click)="ButtonGraph()">Graficas</label></div>
    <div class="contact"><label class="label_options" (click)="ButtonContact()">Contactanos</label></div>
    
    

</nav>

<div class="container_main">
    <div *ngIf="isInicio">
        <div class="card">
            <!-- <canvas baseChart 
            [datasets]="lineChartData" 
            [options]="lineChartOptions"
            [labels]="barChartLabels"
            [legend]="lineChartLegend" 
            [plugins]="lineChartPlugins"
            [type]="'polarArea'">
        </canvas> -->
        <!--  -->
        <canvas baseChart
        [datasets]="lineChartData" 
        [options]="lineChartOptions"
        [labels]="barChartLabels"
        [legend]="lineChartLegend" 
        [plugins]="lineChartPlugins"
        [type]="'pie'">
       </canvas> 

       
    
<!--        
       <canvas baseChart 
       [datasets]="lineChartData" 
       [options]="lineChartOptions"
       [labels]="barChartLabels"
       [legend]="lineChartLegend" 
       [plugins]="lineChartPlugins"
       [type]="'bar'">
       </canvas>
       <!--  -->
       <!-- <canvas baseChart 
       [datasets]="lineChartData" 
       [options]="lineChartOptions"
       [labels]="barChartLabels"
       [legend]="lineChartLegend" 
       [plugins]="lineChartPlugins"
       [type]="'bubble'">
       </canvas> -->
       <!--  -->
       <!-- <canvas baseChart 
       [datasets]="lineChartData" 
       [options]="lineChartOptions"
       [labels]="barChartLabels"
       [legend]="lineChartLegend" 
       [plugins]="lineChartPlugins"
       [type]="'radar'">
       </canvas> -->
        <!--  -->
        <!-- <canvas baseChart 
        [datasets]="lineChartData" 
        [options]="lineChartOptions"
        [labels]="barChartLabels"
        [legend]="lineChartLegend" 
        [plugins]="lineChartPlugins"
        [type]="'doughnut'">
        </canvas>  -->
        <!--  -->
        <!-- <canvas baseChart 
        [datasets]="lineChartData" 
        [options]="lineChartOptions"
        [labels]="barChartLabels"
        [legend]="lineChartLegend" 
        [plugins]="lineChartPlugins"
        [type]="'pie'">
        </canvas>  -->
           <!--  -->
           <!-- <canvas baseChart 
           [datasets]="lineChartData" 
           [options]="lineChartOptions"
           [labels]="barChartLabels"
           [legend]="lineChartLegend" 
           [plugins]="lineChartPlugins"
           [type]="'scatter'">
           </canvas>  -->
            
           </div>
    </div>
    <div *ngIf="isAdd">
        add
    </div>
    <div *ngIf="isTest">
        probar
    </div>
    <div *ngIf="isGraph">
        Graficas
    </div>
    <div *ngIf="isContact">
        Contactanos
    </div>
    
        
</div>
