<nav *ngIf="!isGraph">
    <div class="container_icono"><label class="label_options"><img class="icono" src="./assets/logo hd.png"></label>
    </div>
    <div class="option"><label class="label_options" (click)="ButtonInit()">Inicio</label></div>
    <div class="option"><label class="label_options" (click)="ButtonAdd()">Añadir conexion</label></div>
    <div class="option"><label class="label_options" (click)="ButtonTest()">Probar</label></div>
    <div class="option"><label class="label_options" (click)="ButtonGraph()">Graficas</label></div>
    <div class="contact"><label class="label_options" (click)="ButtonContact()">Contactanos</label></div>
</nav>

<div class="container_main">
    <div *ngIf="isInit" class="container_inicio" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="canvas_simuled">
            <app-grafica *ngFor="let id of backgroundColors let i = index" [Id]="ids[i]" [NombreSensor]="nameSensors[i]"
                [backgroundColor]="backgroundColors[i]" [borderColor]="borderColor[i]" [typeGraphic]="typeGraphic[i]"
                [pointBackgroundColor]="pointBackgroundColor[i]" [hoverBorderColor]="hoverBorderColor[i]"
                [pointBorderColor]="pointBorderColor[i]" [Style]="'background-color: rgb(33, 32, 31);'" [SizePoint]="SizePoint[i]">            </app-grafica>
        </div>
        <div class="margin"></div>
    </div>

    <div *ngIf="isAdd" cdkDropList (cdkDropListDropped)="drop($event)">
   
        <div class="canvas_simuled" >
            <app-grafica-apex *ngFor="let id of backgroundColors let i = index" [Id]="ids[i]" [NombreSensor]="nameSensors[i]"
                [backgroundColor]="backgroundColors[i]" [borderColor]="borderColor[i]" [typeGraphic]="typeGraphic[i]"
                [pointBackgroundColor]="pointBackgroundColor[i]" [hoverBorderColor]="hoverBorderColor[i]"
                [pointBorderColor]="pointBorderColor[i]" [Style]="'background-color: rgb(33, 32, 31);'" [SizePoint]="SizePoint[i]">            </app-grafica-apex>
        </div>
        <div class="margin"></div>
    </div>
    <div *ngIf="isTest" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="canvas_simuled" >
        <app-grafica-radial-bar *ngFor="let id of backgroundColors let i = index"  [Id]="ids[i]" [NombreSensor]="nameSensors[i]"
        [backgroundColor]="backgroundColors[i]" [borderColor]="borderColor[i]" [typeGraphic]="typeGraphic[i]"
        [pointBackgroundColor]="pointBackgroundColor[i]" [hoverBorderColor]="hoverBorderColor[i]"
        [OnlyShow]="true"
        [pointBorderColor]="pointBorderColor[i]" [Style]="'background-color: rgb(33, 32, 31);'" [SizePoint]="SizePoint[i]"></app-grafica-radial-bar>
        </div>
        <div class="margin"></div>
    </div>
    <div *ngIf="isGraph" class="isGraph">
        <app-crear-variable></app-crear-variable>
    </div>
    <div *ngIf="isContact">
        Contactanos
    </div>
</div>