<nav>
    <div class="container_icono"><label class="label_options"><img class="icono" src="./assets/logo hd.png"></label>
    </div>
    <div class="option"><label class="label_options" (click)="ButtonInit()">Inicio</label></div>
    <div class="option"><label class="label_options" (click)="ButtonAdd()">Añadir conexion</label></div>
    <div class="option"><label class="label_options" (click)="ButtonTest()">Probar</label></div>
    <div class="option"><label class="label_options" (click)="ButtonGraph()">Graficas</label></div>
    <div class="contact"><label class="label_options" (click)="ButtonContact()">Contactanos</label></div>



</nav>

<div class="container_main" >
    <div *ngIf="isInit" class="container_inicio"  cdkDropList   (cdkDropListDropped)="drop($event)">
        <div class="canvas_simuled" >
    
            <app-grafica  *ngFor="let id of backgroundColors let i = index"
            [Id]="ids[i]"
            [NombreSensor]="nameSensors[i]"
            [backgroundColor]="backgroundColors[i]" 
            [borderColor]="borderColor[i]" 
            [typeGraphic]="typeGraphic[i]" 
            [Style]="'background-color: rgb(33, 32, 31  );'" >
            </app-grafica>
        </div>
            
          
       
           
       
            <!-- <app-grafica 
            [Id]="1"
            [NombreSensor]="'Sensor2'"
            [backgroundColor]="''" 
            [borderColor]="''" 
            [typeGraphic]="'bar'">
            </app-grafica>
            <app-grafica 
            [Id]="2"
            [NombreSensor]="'Sensor2'"
            [backgroundColor]="''" 
            [borderColor]="''" 
            [typeGraphic]="'pie'">
            </app-grafica>                 -->

<div class="margin"></div>
    </div>
       
    <div *ngIf="isAdd">
        add
    </div>
    <div *ngIf="isTest">
        probar
    </div>
    <div *ngIf="isGraph">
        Graficas
    </div>
    <div *ngIf="isContact">
        Contactanos
    </div>


</div>